<!-- components/footer.html -->
<footer class="footer">
  <div class="footer-contents">
    <!-- Column 1: Activities -->
    <div class="footer-col">
      <div class="col-title">
        <h4>Activities</h4>
      </div>
      <div class="col-contents">
        <ul>
          <li><a href="activities.html">Akanksha: Empower Young Minds</a></li>
          <li><a href="activities.html">Nyasa Summer Camp</a></li>
          <li><a href="activities.html">Umeed - 'to give hope'</a></li>
          <li><a href="activities.html">Sanjeevani Medical Camp</a></li>
        </ul>
      </div>
    </div>

    <!-- Column 2: News & Articles -->
    <div class="footer-col">
      <div class="col-title">
        <h4>News & Articles</h4>
      </div>
      <div class="col-contents">
        <ul>
          <li><a href="news.html">India Education</a></li>
          <li><a href="news.html">Gujarat Samachar Plus</a></li>
          <li><a href="news.html">Sandesh City Life</a></li>
          <li><a href="news.html">Ahmedabad Mirror</a></li>
        </ul>
      </div>
    </div>

    <!-- Column 3: Facebook -->
    <div class="footer-col">
      <div class="col-title">
        <h4>Follow Us On Facebook</h4>
      </div>
      <div class="col-contents">
        <div class="facebook-widget">
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fnyasa.iitgn%2F&tabs=timeline&width=320&height=300&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
            width="320" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
            allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
          </iframe>
        </div>
      </div>
    </div>

    <!-- Column 4: Newsletter -->
    <div class="footer-col">
      <div class="col-title">
        <h4>Newsletter</h4>
      </div>
      <div class="col-contents">
        <form class="newsletter-form">
          <input type="email" placeholder="Your Email" required>
          <button type="submit" class="newsletter-btn">Subscribe</button>
        </form>
        <p class="newsletter-note">Stay updated with our latest activities and events.</p>
      </div>
    </div>

    <!-- Footer Bottom Section -->
    <div class="footer-bottom">
      <!-- Social Media -->
      <div class="social-section">
        <div class="social-media">
          <ul class="social-icons">
            <li>
              <a href="#" aria-label="Telegram">
                <i class="fab fa-telegram"></i>
              </a>
            </li>
            <li>
              <a href="https://facebook.com/nyasa.iitgn" target="_blank" aria-label="Facebook">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#" aria-label="Twitter">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#" aria-label="YouTube">
                <i class="fab fa-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Contact Info -->
      <div class="contact-info">
        <div class="contact-item">
          <div class="contact-icon">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <div class="contact-details">
            <h5>Address</h5>
            <p>Indian Institute of Technology, Palaj, Gujarat<br>Pincode no. 382355</p>
          </div>
        </div>

        <div class="contact-item">
          <div class="contact-icon">
            <i class="fas fa-phone"></i>
          </div>
          <div class="contact-details">
            <h5>Contact Us</h5>
            <p>+91 84778-08227, +91 80082-90429<br>
              <span class="contact-hours">(08:00 AM to 08:00 PM)</span>
            </p>
          </div>
        </div>

        <div class="contact-item">
          <div class="contact-icon">
            <i class="fas fa-envelope"></i>
          </div>
          <div class="contact-details">
            <h5>Send a message</h5>
            <a href="mailto:nyasa@iitgn.ac.in">nyasa@iitgn.ac.in</a>
          </div>
        </div>
      </div>

      <!-- Copyright -->
      <div class="copyright-section">
        <div class="copyright-links">
          <a href="#">Terms of Use</a> |
          <a href="#">Privacy Policy</a>
        </div>
        <div class="copyright-text">
          <p>Created By <a href="#" id="developer-popup-link" class="developer-link">Developers</a>
            <span class="far fa-copyright"></span> 2026 All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Developer Popup Modal -->
<div id="developerModal" class="developer-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h3><span class="created-by">Created By</span> <span class="company-name">Developer Team</span></h3>
      <button class="close-modal">&times;</button>
    </div>

    <div class="developer-note-popup">
      <p>If you want to make changes, please first contact these developers. <br>Do not remove developer cards from
        here. For website help, please contact any team member.</p>
    </div>

    <div class="developer-grid modal-grid">
      <!-- Developer Card 1 -->
      <div class="developer-card">
        <div class="developer-img">
          <img src="assets/images/developers/Ravi Kumawat.jpg" alt="Ravi_Kumawat">
        </div>
        <h4>Er. Ravi Kumawat</h4>
        <p class="developer-role">Lead Developer</p>
        <p class="developer-desc">Software Developer & Communication Co-ordinator</p>
        <a href="https://www.linkedin.com/in/ravi-kumawat-99300b256/" target="_blank" class="linkedin-link">
          <i class="fab fa-linkedin"></i> Connect
        </a>
      </div>

      <!-- Developer Card 2 -->
      <div class="developer-card">
        <div class="developer-img">
          <img src="assets/images/developers/Jagruti Patil.jpg" alt="Jagruti_patil">
        </div>
        <h4>Jagruti Patil</h4>
        <p class="developer-role">Developer</p>
        <p class="developer-desc">Frontent Developer</p>
        <a href="https://www.linkedin.com/in/jagruti-m-patil/" target="_blank" class="linkedin-link">
          <i class="fab fa-linkedin"></i> Connect
        </a>
      </div>

      <!-- Developer Card 3 -->
      <div class="developer-card">
        <div class="developer-img">
          <img src="assets/images/developers/Darpana Desai.jpg" alt="Rahul Patel">
        </div>
        <h4>Darpana Desai</h4>
        <p class="developer-role">Developer</p>
        <p class="developer-desc">Frontent Developer</p>
        <a href="https://www.linkedin.com/in/darpana-desai-20b249289/" target="_blank" class="linkedin-link">
          <i class="fab fa-linkedin"></i> Connect
        </a>
      </div>

      <!-- Developer Card 4 -->
      <div class="developer-card">
        <div class="developer-img">
          <img src="assets/images/developers/Shweta Roshia.jpg" alt="Neha Gupta">
        </div>
        <h4>Shweta Roshia</h4>
        <p class="developer-role">Developer</p>
        <p class="developer-desc">Visual design & Deployment</p>
        <a href="https://www.linkedin.com/in/shwetaroshia/" target="_blank" class="linkedin-link">
          <i class="fab fa-linkedin"></i> Connect
        </a>
      </div>
    </div>

    <div class="modal-footer">
      <p>For any website changes or assistance, please reach out to any team member above.</p>
    </div>
  </div>
</div>